body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body* {
    box-sizing: border-box;
}



/* ------ Header ------ */

.header {
    background-color: #512614;
}

.image-container {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(90deg, rgb(0, 0, 0), rgba(214, 104, 57, 0.2)),
        url(/img/annie-spratt-flipped.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}

.header-container {
    margin: 0 5%;
}

.contact-line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;

    color: white;
    font-weight: 300;
    font-size: 12px;
}

.contact-line>a {
    text-decoration: none;

    transition: .4s;
    transition-delay: .05s;
}

.contact-line>a:hover {
    filter: drop-shadow(0 0 10px #ffffff);
}


.contact-line * {
    display: inline-block;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 25px;
}

.logo p {
    margin-left: 10px;
    font-size: 12px;
    color: white;
}

.contact-line-right {
    display: flex;
    align-items: center;
}

.contact-line-right a:first-child {
    height: 14px;
    margin: 3px 10px 0 0;

    transition: .4s;
    transition-delay: .05s;
}

.contact-line-right a:first-child:hover {
    filter: drop-shadow(0 0 10px #ffffff);
}

.contact-line-right a {
    text-decoration: none;
    font-size: 11px;
    color: white;

    transition: .4s;
    transition-delay: .05s;
}

.contact-line-right a:hover,
footer>a:hover {
    text-shadow: 0 0 10px #ffffff;
    opacity: 1;

}

.contact-line-right ul {
    margin: 0 45px;
    padding: 0;
}

.contact-line-right li>a:hover {
    text-shadow: 0 0 10px #ffffff;
}

.contact-line-right li>a:first-child {
    margin: 0 5px;
    font-size: 12px;
    font-weight: 600;
}

.contact-line-right li>a:focus {
    color: #d66939;
}

.contact-line-right a>img:last-child {
    margin: 0;
    height: 15px;
}

.intro {
    position: relative;

    display: flex;
    height: 90vh;
}

.social-media {
    position: relative;
    left: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25px;
    min-width: 20px;
}

.social-media-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 34%;
}

.social-media-icons a {
    display: flex;
    flex-direction: column;
    align-content: center;

    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;

    transition: .4s;
    transition-delay: .05s;
}

.social-media-icons a:hover {
    filter: drop-shadow(0 0 10px #ffffff);
}

.vertical-row {
    position: relative;
    left: 10px;
    height: 25%;
    border-left: 3px solid rgba(255, 255, 255, 0.25);
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    padding: 0 0 0 5%;
    color: white;
}

.name {
    font-size: 45px;
}

.introduction-text {
    font-size: 12px;
    letter-spacing: 1px;
}

.white {
    max-width: 35%;
    min-width: 200px;

    line-height: 32px;
}

.button-transparent {
    max-width: 230px;
    min-width: 100px;
    margin: 25px 0 130px;
    padding: 10px 0;
    border: 4px solid #d66939;

    background: transparent;

    color: #d66939;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 2px;

    transition: .4s;
    transition-delay: .05s;
}

.button-transparent:hover {
    color: white;
    background-color: #d66939;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.arrow {
    position: relative;
    top: -80px;
    text-align: center;
}


.arrow img {
    height: 25px;

    transition: .4s;
    transition-delay: .05s;
}

.arrow img:hover {
    filter: drop-shadow(0 0 10px #ffffff);
}



/* ------ What can do for you ------*/

.title {
    font-size: 20px;
    font-weight: 600;
}

#title-do-for-you {
    margin: 60px 0;
    text-align: center;
}

.do-for-you {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

    padding: 0 5%;

    margin-bottom: 80px;
}

.do-for-you-card {
    width: 200px;

    text-align: center;
    color: black;
}

.do-for-you-card img {
    padding: 0 0 5px;
    width: 50px;
}

.subtitle {
    font-weight: 700;
    font-size: 14px;
}

.black-paragraph {
    font-weight: 300;
    font-size: 12px;
}


/* ------ My latest works ------*/

.section-starter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 30px 0;
}

.hr>hr {
    width: 100%;
    height: 3px;
    background-color: #d66939;
    border: none;
}

.hr {
    width: 60%;
}

.section-title {
    width: 40%;
    margin: auto;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}

.works-container {
    position: relative;
    margin-bottom: 150px;
}

#portfolio-arrow-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    height: 100%;

    z-index: 1;

    background-color: transparent;
    border: none;

    transition: .4s;
    transition-delay: .05s;
}

#portfolio-arrow-left>img {
    padding-left: 20px;
    width: 25px;
    transform: rotate(90deg);
}

#portfolio-arrow-left:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#portfolio-arrow-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    height: 100%;

    z-index: 1;

    background-color: transparent;
    border: none;

    transition: .4s;
    transition-delay: .05s;
}

#portfolio-arrow-right>img {
    padding-right: 20px;
    width: 25px;
    transform: rotate(-90deg);
}

#portfolio-arrow-right:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.portfolio-container {
    width: 100%;
    height: 500px;

    display: flex;

    background-color: rgba(0, 0, 0);
}

.portfolio-image {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 20%;

    opacity: .6;

}

.portfolio-image:hover {
    opacity: 1;
    height: 103%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.portfolio-image>img {
    width: 100%;
    object-fit: cover;
}

#all-works {
    position: absolute;
    right: 5%;

    max-width: 230px;
    min-width: 10px;

    margin: 25px 0 80px;
    border: none;
    padding: 14px 25px;

    background-color: #d66939;

    color: white;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;

    transition: .4s;
    transition-delay: .05s;
}

#all-works:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}



/* ------ About me ------*/

.grey-container {
    display: flex;

    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
}

.hr-about-me {
    position: relative;
    top: 60px;

    height: 3px;
    width: 8%;
    background-color: #d66939;
}

.profile-image {
    width: 380px;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(214, 104, 57, 0.2)),
        url(/img/jakob-owens-lkMJcGDZLVs-unsplash.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.about-me-container {
    margin: 30px 40px 60px 40px;
}

.title-about-me {
    margin-bottom: 30px;
}

.black-paragraph li {
    line-height: 20px;
}



/* ------ Video presentation ------*/


.fullwidth-video-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
    overflow: hidden;
    margin-bottom: 80px;
}


#show-me-more {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;

    width: 250px;

    color: white;
    border: 2px solid white;
    opacity: .3;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#show-me-more:hover {
    opacity: 1;
    border: none;
}

.fullwidth-video-wrap video {
    min-height: 100%;
    object-fit: cover;
}


/* ------ Pricing ------*/

.pricing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;

    padding: 0 5%;

    margin-bottom: 80px;
}

.pricing-grey {
    padding: 40px 50px;
    width: 180px;
    background-color: rgba(0, 0, 0, 0.1);

    transition: .4s;
    transition-delay: .05s;
}

.pricing-grey:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 220px;
}

.package-name {
    margin: 0;

    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .75px;
}

.price {
    margin: 12px 0;

    color: #d66939;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: .75px;
}

.pricing-grey>p {
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    margin-bottom: 20px;
}

.checkpoint-pairs {
    display: flex;
    align-items: center;
}

.checkpoint-pairs img {
    display: inline-block;
    margin-right: 10px;
    height: 15px;
}

.checkpoint-pairs p {
    display: inline-block;

    margin: 8px 0;

    font-weight: 300;
    font-size: 11px;
}

#buy-now {
    width: 100%;
    border: 2px solid #d66939;
    font-size: 14px;
    margin-bottom: 0;
}


/* ------ Send a message ------*/

.image-container-message {
    width: 100%;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(214, 104, 57, 0.3)),
        url(/img/etienne-bosiger-OWsdJ-MllYA-unsplash.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}



.section-title.white-section {
    margin: 0;
    padding: 50px 0;
    color: white;
}

.form-container {
    align-items: center;
    max-width: 400px;
    margin: auto;
    padding: 0 10px;
}

.input-box {
    box-sizing: border-box;
    display: block;

    margin-bottom: 10px;
    border: none;
    border-radius: 0;

    width: 100%;

    transition: .2s;
    transition-delay: .05s;
}

.input-box:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

}

.input-box::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

.input-box:focus-visible {
    outline: none;
    border: 2px solid #d66939;
    border-radius: 5px;
}

.email {
    height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 100;
    padding: 15px;
}

#comment {
    height: 120px;
    resize: none;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 100;
    padding: 15px;
}

#send-message {
    width: 100%;
    height: 60px;

    box-sizing: border-box;
    margin: 10px 0 60px;
    border: none;
    border-radius: 0;
    background-color: #d66939;

    color: white;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;

    transition: .4s;
    transition-delay: .05s;
}

#send-message:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.9);
}

/* ------ Footer ------*/

.footer-bg {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    gap: 20px;

    min-height: 80px;

    padding: 30px 5%;

    background-color: #050e13;
}

/* 
.footer-bg .logo {
    margin: 0 5px;
    opacity: .7;
}
 */
footer>a {
    margin: 0 5px;
    opacity: .7;

    transition: .4s;
    transition-delay: .05s;
}

.footer-contact {
    display: flex;
    flex-direction: column;

    margin: 0 5px;
}

.footer-contact .contact-line-right {
    opacity: .7;

    transition: .4s;
    transition-delay: .05s;
}

.footer-contact .contact-line-right:hover {
    opacity: 1;
    filter: drop-shadow(0 0 10px #ffffff);

}

.footer-sm-icons {
    display: flex;
    justify-content: space-between;
    text-align: center;

    margin-bottom: 12px;
}

.footer-sm-icons img {
    display: inline-block;
    width: 20px;
    opacity: .7;

    transition: .4s;
    transition-delay: .05s;
}

.footer-sm-icons img:hover {
    opacity: 1;
    filter: drop-shadow(0 0 10px #ffffff);
}

.privacy-policy {
    display: flex;
    justify-content: space-between;

    margin: 0 5px;

    width: 200px;

    color: rgba(255, 255, 255, 0.7);
    font-weight: 100;
    font-size: 11px;
}

.footer-bg>.button-transparent {
    margin: 0 5px;
    width: 200px;
}

@media screen and (max-width:665px) {
    .contact-line>.contact-line-right a:nth-child(1) {
        display: none;
    }

    .contact-line>.contact-line-right a:nth-child(2) {
        display: none;
    }

    .contact-line-right ul {
        display: none;
    }

    .grey-container {
        flex-wrap: wrap;
        justify-content: none;
    }

    div.profile-image {
        height: 300px;
        width: 100%;
    }

    .section-starter {
        flex-wrap: wrap;
        flex-direction: column;
    }

    h2.section-title {
        width: 100%;
    }

    .section-starter.reverse {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    h2.section-title.white-section {
        padding: 0 0 50px;
    }

    .hr-about-me {
        display: none;
    }

    .hr {
        width: 100%;
    }
}

@media screen and (max-width:505px) {
    footer.footer-bg {
        justify-content: center;
        gap: 20px;
    }
}